/* General Questions CSS */
.QuestionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  flex: 1;
  padding-bottom: 25px;
}

/* QuestionOne.jsx */
.QuestionOne {
  display: flex;
  width: 98%;
  height: 98%;
  border-radius: 25px;
  flex-direction: column;
  flex: 1;
}
.EmotionsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-auto-rows: minmax(50px, auto); /* Minimum height for rows */
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
}
.Emotion {
  padding: 10px;
  margin: 5px;
  border: 1px solid #000;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
}

/* Media query for smaller screens */
@media (max-width: 800px) {
  .EmotionsContainer {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

/* QuestionTwo.jsx */
.QuestionTwo {
  background-color: white;
  display: flex;
}

/* QuestionThree.jsx */
.QuestionThree {
  background-color: white;
  display: flex;
}

/* QuestionFour.jsx */
.QuestionFour {
  background-color: white;
  display: flex;
}

/* QuestionFive.jsx */
.QuestionFive {
  background-color: white;
  display: flex;
}
