/* QuestionOne.jsx */
.QuestionOne {
  background-color: white;
  display: flex;
}

/* QuestionTwo.jsx */
.QuestionTwo {
  background-color: white;
  display: flex;
}

/* QuestionThree.jsx */
.QuestionThree {
  background-color: white;
  display: flex;
}

/* QuestionFour.jsx */
.QuestionFour {
  background-color: white;
  display: flex;
}

/* QuestionFive.jsx */
.QuestionFive {
  background-color: white;
  display: flex;
}
